importFrom(GenomicAlignments, readGAlignments)


importFrom(rtracklayer, "export")
importFrom(rtracklayer, "GRangesForUCSCGenome")
importFrom(Rsamtools, ScanBamParam)

importFrom(RColorBrewer, brewer.pal)

importFrom(biovizBase, getBioColor)

importFrom(BiocParallel, bplapply)

export("convertBamToBigWig",
       "createSessionTrackLine.BW",
       "createHubTrackLine.junc.bed",
       "makeJunctionBed",
       "createHubTrackLine.BW",
       "convertBedToBigBed",
       "makeJunctionTracksWrapper",
       "makeCoverageTracksWrapper")
